[submodule "vendor/thetvdb"]
	path = vendor/thetvdb
	url = git://pmade.com/thetvdb.git
[submodule "vendor/themoviedb"]
	path = vendor/themoviedb
	url = git://pmade.com/themoviedb.git
[submodule "util"]
	path = util
	url = git://pmade.com/haskell-util.git
[submodule "vendor/byline"]
	path = vendor/byline
	url = git://pmade.com/byline.git
